<footer class = 'footer'>
  <div class = 'footer_inner wrap pale'>
    <a 
        href = '{{ if isset .Site.Params "license" }}{{ .Param "license" }}{{ else }}/{{ end }}'
        target="_blank">

    <p>&copy;&nbsp;<span class = 'year'></span>&nbsp;{{ .Site.Copyright }}
    <!-- {{ i18n "designed_by" .Site.Data.designer | safeHTML }}</p> -->
  </div>
</footer>
{{- $mainScriptPath := "js/index.js" }}
{{- $scripts := resources.Get $mainScriptPath | resources.ExecuteAsTemplate $mainScriptPath . | resources.Minify | resources.Fingerprint "sha512" }}
<script src = '{{ $scripts.Permalink }}'></script>
